<div class="vertical">
    <app-text-input i18n-label="@@chat-history-label"
        label="Chat history" 
        type="area" 
        [id]="'chat-window'" 
        [disabled]="true"  
        [value]="chatHistory"
        class="vertical">
    </app-text-input>
    <form [formGroup]="chatFormGroup" class="send-chat-form">
        <app-text-input i18n-label="@@chat-input-label" 
            label="Chat" 
            [id]="'chatinput'" 
            type="text" 
            formControlName="chatinput" 
            class="horizontal">
        </app-text-input>
        <button 
            id="send-chat-btn" 
            type="submit" 
            (click)="sendChatMessage()" 
            [disabled]="!chatFormGroup.valid" i18n="@@send-chat-button">Send</button>
    </form>
</div>