@import '../mixins.scss';

.header {
  display: block;
  height: fit-content;
  min-height: 4vh;
}

.body {
  @include router-content;
}

.footer {
  display: block;
  height: fit-content;
  min-height: 4vh;
}
