@use '/src/mixins';

:host {
  width: 100%;
}

table {
  border: var(--text-color) solid 1px;
  background-color: var(--text-color);

  @include mixins.tablet {
    table-layout: fixed;
  }
}

table,
tr,
th {
  width: 100%;
}

th {
  border-bottom: var(--text-color) solid 1px;
}

td {
  text-align: center;
  min-width: fit-content;

  p {
    margin: 0;
  }

  .date {
    white-space: nowrap;
  }
}

thead {
  background-color: var(--theme-bg-color-primary-alt);
}

tbody {
  tr:nth-child(even) {
    background-color: var(--theme-bg-color-primary-alt);
  }

  tr:nth-child(odd) {
    background-color: var(--theme-bg-color-primary);
  }
}
