/* You can add global styles to this file, and also import other style files */
@use 'theme-colors' as colors;
@use 'mixins';

@media (prefers-color-scheme: light) {
  .theme {
    --theme-bg-color-primary: #{colors.$light-primary};
    --theme-bg-color-primary-alt: #{colors.$light-primary-alt};
    --theme-bg-color-secondary: #{colors.$light-secondary};
    --theme-border: #{colors.$light-border};

    --theme-btn-primary: #{colors.$light-btn-primary};
    --theme-btn-primary-text-color: #{colors.$light-dark};
    --theme-btn-primary-alt: #{colors.$light-btn-primary-alt};
    --theme-btn-primary-border: #{darken(colors.$light-btn-primary, 25)};

    --theme-btn-disabled-bg: #{colors.$light-btn-disabled-bg};
    --theme-btn-disabled-text-color: #{colors.$light-btn-disabled-text-color};
    --theme-btn-focus: #{colors.$light-btn-focus};

    --theme-primary: #5100ff;
    --theme-primary-lighter: #3f64ff;
    --theme-secondary: #008c6e;
    --theme-accent: #1f1926;
    --text-color: #000000;
    --btn-border-color: var(--text-color);

    --theme-bg-color-rgb: #{mixins.hexToRGB(#ffffff)};
    --theme-text-disabled: #000000;
    --theme-bg-disabled: #b1b1b1;
    --theme-border-disabled: var(--theme-bg-disabled);

    --theme-form-error: #{colors.$light-error};
  }
}

@media (prefers-color-scheme: dark) {
  .theme {
    --theme-bg-color: #232323;
    --theme-bg-color-rgb: #{hexToRGB(#232323)};
    --btn-text-color: #fffcfc;
    --text-color: #ffffff;
    --btn-border-color: var(--btn-text-color);
    --theme-primary: #5100ff;
    --theme-primary-lighter: #3f64ff;
    --theme-secondary: #008c6e;
    --theme-accent: #4b4453;
    --theme-text-disabled: #000000;
    --theme-bg-disabled: #b1b1b1;
    --theme-border-disabled: #d7d7d7;
  }
}

.bi {
  height: 24px;
}

.bi::before {
  vertical-align: text-bottom !important;
}

.text-primary {
  color: var(--text-color);
}

* {
  // color: var(--text-color);
  // background-color: var(--theme-bg-color-primary);
  font-family: Arial, Helvetica, sans-serif;
}
