$theme-white:#D4E4F7;
$theme-black:#190934;

$theme-light:#F7F6F6;
$theme-light-darker: #e7e4e4;
$theme-light-accent:#BFBDD8;
//$theme-main:#9C7BBC;
$theme-dark-accent:#7F9BD5;
$theme-dark-shade:#2B4E99;


$theme-primary:#9c7bbc; //Primary
$theme-info:#2b4e99; //Info
$theme-success:#649f70;	//Success
$theme-warning:#e18f38;	//Warning
$theme-danger:#f44336; //Danger
$theme-danger-lighter:#FF0000; //Danger
$theme-danger-darker:#790e06;