$a: #2c3e50 #e74c3c #ecf0f1 #66ccff #2980b9;
$b: #5b928a #006359 #162d2a;
$c: #6596ba #ecfbff #eee8a9;

// light theme
$light-dark: #181818;
$light-light: #f7f7f7;
$light-secondary: #66ccff;
$light-primary: $light-light;
$light-primary-alt: #d4d8d9;
$light-border: $light-dark;
$light-btn-primary: #06ffcc;
$light-btn-primary-alt: #a7f58b;
$light-btn-disabled-bg: #b1b1b1;
$light-btn-disabled-text-color: $light-dark;
$light-btn-focus: $light-dark;
$light-error: #a50000;
// dark theme
$dark-dark: #222222;
$dark-light: #d9d9d9;
$dark-secondary: #003e6e;
$dark-primary: $dark-dark;
$dark-primary-alt: #323232;
$dark-border: $dark-light;
$dark-btn-primary: #015c4b;
$dark-btn-primary-alt: #007736;
$dark-btn-disabled-bg: #525151;
$dark-btn-disabled-text-color: $dark-light;
$dark-btn-focus: $dark-light;
$dark-error: #ffabab;

$theme-light: #f7f6f6;

$theme-primary: #9c7bbc; //Primary
$theme-info: #2b4e99; //Info
$theme-success: #649f70; //Success
$theme-warning: #e18f38; //Warning
$theme-danger: #f44336; //Danger
$theme-danger-lighter: #ff0000; //Danger
$theme-danger-darker: #790e06;

// $theme-light-primary: #7d8cc4;
$theme-light-secondary: #434656;
$theme-light-tertiary: #a7aabc;
$theme-light-accent: #c57981;
$theme-light-shade: #8d4750;

$theme-dark-primary: #011638;
$theme-dark-secondary: #a8aabc;
$theme-dark-tertiary: #747687;
$theme-dark-accent: #35040c;
$theme-dark-shade: #673137;
