// $theme-white: #d4e4f7;
// $theme-black: #190934;
// $theme-dark: #{$theme-black};
$theme-light: #f7f6f6;
// $theme-light-darker: #e7e4e4;
// $theme-light-accent: #bfbdd8;
// $theme-light-shade: #eeeeee;
// //$theme-main:#9C7BBC;
// $theme-dark-accent: #7f9bd5;
// $theme-dark-shade: #2b4e99;

$theme-primary: #9c7bbc; //Primary
$theme-info: #2b4e99; //Info
$theme-success: #649f70; //Success
$theme-warning: #e18f38; //Warning
$theme-danger: #f44336; //Danger
$theme-danger-lighter: #ff0000; //Danger
$theme-danger-darker: #790e06;

$theme-light-primary: #7d8cc4;
$theme-light-secondary: #434656;
$theme-light-tertiary: #a7aabc;
$theme-light-accent: #c57981;
$theme-light-shade: #8d4750;

$theme-dark-primary: #011638;
$theme-dark-secondary: #a8aabc;
$theme-dark-tertiary: #747687;
$theme-dark-accent: #35040c;
$theme-dark-shade: #673137;
